/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
    width: 1000px;
    height: 647px;
    background: var(--background, #F7F7F7);
}
*, *::before,
*::after {
    box-sizing: inherit;
}

.header {
    color: #333;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 12px 0 0 27px;
}

.searchBlock {
    width: 961px;
    height: 102px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 18px 15px 0px rgba(148, 148, 148, 0.15);
    margin: 20px 0 0 27px;
}

.wrap {
    position: relative;
}
  
.wrap:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url("../img/source_icons_search\ 1.svg");
}
  
.search {
    width: 870px;
    height: 34px;
    border-radius: 4px;
    border: none;
    background: #ECEFF0;
    padding-left: 31px;
    margin: 12px 0 0 16px;
}

.clearBotton {
    background: #FFF;
    margin: 24px 0 0 16px;
    padding: 0px;
    border: none;
    display: flex;
}

.clear {
    width: 16px;
    height: 16px;
    padding: 1.381px 1.869px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.clear_text {
    color: var(--gray-2, #4F4F4F);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-left: 4px;
}

.sort {
    display: flex;
    color: var(--names-tablet, #9EAAB4);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin: 72px 0 0 0;
}