/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
    width: 1000px;
    height: 647px;
    background: var(--background, #F7F7F7);
}
*, *::before,
*::after {
    box-sizing: inherit;
}

.header {
    color: #333;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 12px 0 0 27px;
}

.searchBlock {
    width: 961px;
    height: 102px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 18px 15px 0px rgba(148, 148, 148, 0.15);
    margin: 20px 0 0 27px;
}

.wrap {
    position: relative;
}
  
.wrap:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url("../img/source_icons_search\ 1.svg");
}
  
.search {
    width: 870px;
    height: 34px;
    border-radius: 4px;
    border: none;
    background: #ECEFF0;
    padding-left: 31px;
    margin: 12px 0 0 16px;
}

.clearBotton {
    background: #FFF;
    margin: 24px 0 0 16px;
    padding: 0px;
    border: none;
    display: flex;
}

.clear {
    width: 16px;
    height: 16px;
    padding: 1.381px 1.869px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.clear_text {
    color: var(--gray-2, #4F4F4F);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-left: 4px;
}

.sort {
    display: flex;
    color: #9EAAB4;
    background: var(--background, #F7F7F7);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin: 72px 0 0 27px;
}

.sortDate {
    border: none;
    padding-left: 8px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0 0 0;
}

.sortRate {
    border: none;
    padding-left: 9px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0 0 0;
}

.underline {
    border-bottom: 1px dashed;
    padding-bottom: -2px;
}

.list {
    margin: 15px 0 0 27px;
    width: 961px;
    height: auto;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 18px 15px 0px rgba(148, 148, 148, 0.15);
}

.heads {
    display: inline-block;
    margin: 16px 0 0 16px;
}

.name {
    color: var(--names-tablet, #9EAAB4);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

.E-mail {
    color: var(--names-tablet, #9EAAB4);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-left: 155px;
}

.DateRegistr {
    color: var(--names-tablet, #9EAAB4);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-left: 219px;
}

.Rate {
    color: var(--names-tablet, #9EAAB4);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-left: 150px;
}

#app {
    margin: 22px 0 0 16px;
}

tr {
    display: flex;
    width: 927px;
    height: 30px;
    margin: 0 0 20px 0;
}

tr::after {
    content: "";
    position: absolute;
    width: 925px;
    height: 1px;
    flex-shrink: 0;
    background-image: url('../img/strip.svg');
    stroke-width: 1px;
}

th_name {
    display: flex;
    color: var(--username, #0CB4F1);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    width: 111px;
    margin-top: 14px;
}

th_email {
    display: flex;
    color: var(--names-tablet, #9EAAB4);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-left: 139px;
    width: 156px;
    margin-top: 14px;
}

th_date {
    display: flex;
    color: var(--names-tablet, #9EAAB4);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-left: 96px;
    width: 134px;
    margin-top: 14px;
}

th_rate {
    display: flex;
    color: var(--names-tablet, #9EAAB4);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-left: 111px;
    margin-top: 14px;
    width: 21px;
}

#cancel {
    display: flex;
    width: 16.017px;
    height: 16px;
    padding: 2.667px 2.67px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 14px;
    margin-left: 122.15px;
}